body {
    font: Arial, Helvetica, sans-serif
}

#container {
    width: 85%;
    margin: 0 auto
}

#header {
    height: 100px;
    padding: 10px 0px;
}

#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #A751D6;
    text-decoration: none;
}

#search-box {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    background: -webkit-linear-gradient(#E4F2B9, #B7E953);
    background: -moz-linear-gradient(#E4F2B9, #B7E953);
    background: -o-linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(../images/search.png) right center no-repeat;
    border: 1px solid #C8D03E;
}

.submit {
    float: right;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    padding-top: 20px;
}

#menu ul, .sidebar ul{
    list-style: none;

}

#menu ul li {
    float: left;
    padding: 0 5%;
    height: 20px;
    border-right: 1px solid #A751D6;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #A751D6;
    line-height: 20px;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    -ms-transition: 300ms ease;
    transition: 300ms ease;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a:hover, #menu ul li a.active {
    font-size: larger;
    font-weight: bold;
}

#introduction {
    background: linear-gradient(#E5F2BB, #B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    background: -o-linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0 ;
}

#introduction h3 {
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    color: #628F19;
    text-align: justify;
}

.sidebar {
    height: 570px;
    width: 42%;
    margin-top: 7px;
    border: 3px solid #B7E952;
    border-radius: 20px;
    padding: 20px 50px 50px 50px; 
}

.sidebar ul {
    padding-top: 10px;
}

.sidebar ul li a {
    font-size: 27px;
    text-decoration: none;
    color: #B7E952;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    -ms-transition: 300ms ease;
    transition: 300ms ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    font-size: 33px;
    font-weight: bold;
}

.sidebar h3 {
    color: #A751D6;
    font-size: 45px;
}

#left-sidebar {
    float: left;
}

#left-sidebar ul li {
    padding-bottom: 5px;
    list-style-image: url(../images/arrow.png);
    padding-left: 10px;
}

#right-sidebar ul li {
    background: url(../images/check.png) no-repeat left center;
    padding: 20px 20px 20px 65px;
}

#right-sidebar {
    float: right;
}

.footer {
    height: 60px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    padding: 10px 20px;
    margin-top: 23px;
}